# Introduction to Numpy

Numpy is the fundamental package for creating and manipulating *arrays* in
Python.

As for all Python libraries, we need to load the library into Python, in order to use it.  We use the `import` statement to do that:

In [1]:
import numpy

`numpy` is now a *module* available for use.  A module is Python's term for a library of code and / or data.

In [2]:
# Show what 'numpy' is
numpy

Numpy is now ready to use, and has the name `numpy`.  For example, if we want to see the value of pi, according to Numpy, we could run this code:

In [3]:
numpy.pi

3.141592653589793

Although it is perfectly reasonable to import Numpy with the simplest statement above, in practice, nearly everyone imports Numpy like this:

In [4]:
# Make numpy available, but give it the name "np".
import numpy as np

All this is, is a version of the `import` statement where we *rename* the `numpy` module to `np`.

Now, instead of using the longer `numpy` as the name for the module, we can use `np`.

In [5]:
# Show what 'np' is
np

In [6]:
np.pi

3.141592653589793

You will see that we nearly always use that `import numpy as np` form, and you
will also see that almost everyone else in the Python world does the same
thing.  It's near-universal convention.  That way, everyone knows you mean
`numpy` when you use `np`.

## Some example data

Let's start with some data, and then go on to process these data with arrays.

Here is a text file with some data about an experiment running in the scanner.
The subject saw stimuli every 1.75 seconds or so.  Sometimes they press a
spacebar in response to the stimulus. The file records the subject's data.  There is one row per trial, where each row records:

* `response` — what response the subject make for this trial ('None' or
  'spacebar')
* `response_time` — the reaction time for their response (milliseconds after
  the stimulus, 0 if no response)
* `trial_ISI` — the time to wait until the *next* stimulus (the Interstimulus
  Interval)
* `trial_shape` — the name of the stimulus ('red_star', 'red_circle' and so
  on).

Here we open the file as text, and load the lines of the file into memory as a list.

In [7]:
# Load the lines in the file as a list.
lines = open('24719.f3_beh_CHYM.csv', 'rt').readlines()
# Show the first 5 lines.
lines[:5]

['response,response_time,trial_ISI,trial_shape\n',
 'None,0,2000,red_star\n',
 'None,0,1000,red_circle\n',
 'None,0,2500,green_triangle\n',
 'None,0,1500,yellow_square\n']

As you can see, the first line in the file gives the names of the fields in each row.  We will throw away that line to start.

In [8]:
del lines[0]
lines[:5]

['None,0,2000,red_star\n',
 'None,0,1000,red_circle\n',
 'None,0,2500,green_triangle\n',
 'None,0,1500,yellow_square\n',
 'None,0,1500,blue_circle\n']

There is one line for each trial, so the number of lines in the file is also the number of trials.

In [9]:
n_trials = len(lines)
n_trials

320

Let's look at the first line again:

In [10]:
type(lines[0])

str

In [11]:
lines[0]

'None,0,2000,red_star\n'

We can use the `split` *method* of the string to split the string at the commas (`,`).  This gives us a list of strings:

In [12]:
parts = lines[0].split(',')
parts

['None', '0', '2000', 'red_star\n']

This in turn suggests how we could use `for` loop to collect the response times and the trial ISIs into lists, with one element per trial.

In [13]:
rt_list = []  # List to hold the response times.
isi_list = []  # List to hold the trial_isis
# For each number from 0 up to (not including) the value of n_trials.
for i in range(n_trials):
    line = lines[i]  # Get the corresponding line for trial position i
    parts = line.split(',')  # Split at commas
    rt_list.append(float(parts[1]))  # Second thing is response time
    isi_list.append(float(parts[2]))  # Third thing is trialISI
# Show the first 5 trial ISIs.
isi_list[:5]

[2000.0, 1000.0, 2500.0, 1500.0, 1500.0]

## From lists to arrays

Lists are useful, but we very often need arrays to help us process the data.

We hope you will see why by example.

You can make an array from a list by using the `np.array` function.

In [14]:
isi_arr = np.array(isi_list)
isi_arr

array([2000., 1000., 2500., 1500., 1500., 2000., 2500., 1500., 2000.,
       1000., 1000., 1500., 1500., 2000., 1500., 1500., 1500., 2000.,
       2000., 1500., 2500., 1000., 2500., 1000., 2500., 2000., 2000.,
       1000., 1000., 1000., 1500., 1500., 1500., 1500., 1000., 1000.,
       2500., 1000., 2000., 2000., 2500., 1500., 1500., 1000., 2500.,
       2000., 1000., 1500., 2000., 1500., 2000., 1000., 1000., 2500.,
       1500., 2000., 1000., 1000., 1000., 1000., 2500., 2500., 2000.,
       2500., 2500., 1500., 2000., 1500., 2000., 1000., 1500., 2500.,
       1000., 1000., 2500., 2000., 2500., 2500., 2500., 1500., 1500.,
       1000., 2500., 2500., 2500., 1500., 1000., 2500., 2000., 1500.,
       2000., 2500., 1500., 1500., 2500., 2500., 2000., 2000., 1000.,
       1000., 2000., 2500., 1000., 2000., 2000., 1000., 2000., 2000.,
       1500., 1000., 1000., 1500., 1500., 2500., 2500., 2500., 1500.,
       2500., 1500., 1000., 1500., 2500., 1000., 2000., 2500., 1000.,
       2000., 2500., 1500., 2000., 1000., 1000., 2500., 1500., 2000.,
       1000., 1000., 2500., 1000., 2500., 2500., 2500., 1000., 2000.,
       1000., 1500., 2000., 1500., 1500., 1500., 1000., 1000., 1500.,
       1000., 2500., 2000., 2500., 1500., 2000., 2500., 1000., 1000.,
       2500., 1500., 1500., 1500., 2500., 1000., 2500., 2000., 2000.,
       1000., 2000., 2000., 2000., 2500., 1500., 2000., 2000., 2000.,
       1000., 2000., 2000., 1500., 1000., 1000., 2000., 2000., 1500.,
       1500., 1000., 2000., 1500., 1500., 1000., 2000., 1500., 1000.,
       1500., 2500., 2000., 1000., 2000., 2000., 2000., 1500., 1000.,
       1500., 1500., 1000., 2000., 1000., 1500., 2500., 2000., 2500.,
       2500., 1500., 1000., 2500., 2500., 1000., 2500., 2500., 2000.,
       2000., 1000., 2500., 2500., 1500., 2500., 2000., 2500., 2000.,
       2500., 1000., 1000., 1500., 2500., 1500., 2500., 2500., 1500.,
       1000., 2500., 1500., 2000., 1000., 2000., 2500., 2000., 1500.,
       2500., 2500., 1500., 1500., 1000., 1500., 1500., 1500., 1000.,
       2500., 1500., 2500., 2000., 2500., 1000., 2500., 2000., 2000.,
       2000., 2500., 2000., 1000., 1500., 1000., 2000., 2500., 2500.,
       1000., 1500., 1500., 2000., 2500., 1500., 2000., 1500., 1500.,
       2500., 2500., 1000., 2500., 2000., 1500., 2000., 2500., 2000.,
       2000., 1500., 1000., 1000., 2500., 2000., 2000., 2000., 1500.,
       2000., 1000., 1000., 2000., 1000., 1500., 1500., 2500., 2000.,
       1000., 2500., 1000., 1000., 1000.])

Let us do the same for the reaction times:

In [15]:
rt_arr = np.array(rt_list)
# Show the first 15 elements for brevity
rt_list[:15]

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 427.0, 0.0, 0.0, 369.0, 0.0]

## Arrays have a shape

The array object has `shape` data attached to it:

In [16]:
isi_arr.shape

(320,)

The shape gives the number of dimensions, and the number of elements for each dimension.  We only have a one-dimensional array, so we see one number, which is the number of elements in the array.  We will get on to two-dimensional arrays later.

## Arrays have a datatype

Notice that the `np.array` function worked out that all the values in the list
are floating point values, so the array has a *datatype* (`dtype`) of
`float64` — the standard type of floating point value for Numpy and most other
numerical packages (such as Matlab and R).   The array `dtype` specifies what
type of elements the array does and can contain.

In [17]:
isi_arr.dtype

dtype('float64')

This means that, for example, you cannot put data into this array that can very simply make a floating point value:

In [18]:
isi_arr[0] = 'some text'

ValueError: could not convert string to float: 'some text'

This is in contrast to a list, where the elements can be a mixture of any type of Python value.

In [19]:
my_list = [10.1, 15.3, 0.5]
my_list[1] = 'some_text'
my_list

[10.1, 'some_text', 0.5]

There is another way we could have collected the information from the file, and put it directly into arrays.

We could have started with an array of the right length and type, by using the `np.zeros` function to make an array with all 0.0 values.

In [20]:
rt_arr = np.zeros(n_trials)
rt_arr

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [21]:
rt_arr = np.zeros(n_trials)
isi_arr = np.zeros(n_trials)
for i in range(n_trials):
    line = lines[i]
    parts = line.split(',')
    rt_arr[i] = float(parts[1])
    isi_arr[i] = float(parts[2])
isi_arr[:5]

array([2000., 1000., 2500., 1500., 1500.])

This is a fairly typical use of `np.zeros`.  We make an array of the right size and then fill in the elements later.

## Our task

We want to calculate the relationship between the onsets of the trials, the onsets of the responses, and the onsets of the scans in the scanner.

As you saw above, the inter-stimulus interval is the interval between the
previous trial and the current one.

For example, the first ISI here, 2000, means that the first trial started at 2000ms from the start of the experiment.

The second ISI, 1000, means that the second trial started at 2000ms + 1000ms from the start of the experiment.

We want to work out how these stimulus times relate to the scanning we did.

Let's think first about the trial onset times, in terms of scans.

The first thing we need to know is that the experimental software started 4 seconds after the start of the first scan.

We know from the first ISI above that the first trial happened 2000ms after the experimental software started.   That means that it happened 4000 + 2000 milliseconds after the scanner started.

The second then we need to know is that the TR (time-to-repeat) for the scanner was 2 seconds.  So, the first scan happens at time 0, the second at time 2000ms, and so on.

## Baby steps

Let's proceed in steps.  First let us work out the time for each trial *from
the start of the experimental software*.   Call this the `cumulative_times`.

Because we are careful, we first work out what that would look like if we did it by hand.   Here are the first five ISI values.

In [22]:
isi_arr[:5]

array([2000., 1000., 2500., 1500., 1500.])

The first value for `cumulative_times` should be 2000.  The second will be 2000 + 1000.  The third will be 2000 + 1000 + 2500.

In [23]:
[2000, 2000 + 1000, 2000 + 1000 + 2500, 2000 + 1000 + 2500 + 1500]

[2000, 3000, 5500, 7000]

We could do the calculation for every trial with a `for` loop, like this:

In [24]:
cumulative_times = np.zeros(n_trials)
start_time = 0
for i in range(0, n_trials):
    start_time = start_time + isi_arr[i]
    cumulative_times[i] = start_time
# Show the first 10 values
cumulative_times[:10]

array([ 2000.,  3000.,  5500.,  7000.,  8500., 10500., 13000., 14500.,
       16500., 17500.])

That calculation looks right, comparing to our by-hand calculation above.

Luckily, Numpy has a useful function called `np.cumsum` that does the cumulative sum of the elements in the array.  As you can see, this does exactly what we want here:

In [25]:
# Show the cumulative sum
cumulative_times = np.cumsum(isi_arr)
# Show the first 10 values
cumulative_times[:10]

array([ 2000.,  3000.,  5500.,  7000.,  8500., 10500., 13000., 14500.,
       16500., 17500.])

Next we need to make these experiment time into times in terms of the scanner start.  To do this, we need to add 4000 to every time.   Of course we could go through and do that with a For loop:

In [26]:
scanner_times = np.zeros(n_trials)
for i in range(n_trials):
    scanner_times[i] = cumulative_times[i] + 4000
scanner_times[:10]

array([ 6000.,  7000.,  9500., 11000., 12500., 14500., 17000., 18500.,
       20500., 21500.])

Luckily, however, Numpy will do that for us, because when we add a single number to an array, it has the effect of adding that number to *every element* in the array:

In [27]:
scanner_times = cumulative_times + 4000
scanner_times[:10]

array([ 6000.,  7000.,  9500., 11000., 12500., 14500., 17000., 18500.,
       20500., 21500.])

We now have trial onset times in milliseconds, from the start of the first scan.  We want to recode these numbers in terms of scans since the scanner session started.

For example, the first time is 6000 ms.  The scans each last 2000 ms.  So, in terms of scans, the first time is:

In [28]:
scan_length_ms = 2000
6000 / scan_length_ms

3.0

Luckily — Numpy does division in the same way as it does addition, with a single number against an array:

In [29]:
times_in_scans = scanner_times / scan_length_ms
times_in_scans[:10]

array([ 3.  ,  3.5 ,  4.75,  5.5 ,  6.25,  7.25,  8.5 ,  9.25, 10.25,
       10.75])

## Trial times, and selecting values.

OK — we have the stimulus onset times, but what about the times for the *responses*.

Here are the first 15 reaction times:

In [39]:
rt_arr[:15]

array([  0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0., 427.,
         0.,   0., 369.,   0.])

Notice that there is a reaction time of 0 when there was no response.  We'll ignore that for now.

Now we want to calculate the response times in terms of the start of the scanner.  We have the times of the trials onsets in terms of the scanner:

In [40]:
scanner_times[:15]

array([ 6000.,  7000.,  9500., 11000., 12500., 14500., 17000., 18500.,
       20500., 21500., 22500., 24000., 25500., 27500., 29000.])

The response onset times, in terms of the scanner start, are just the trial onset times, plus the corresponding reaction times.  Of course we could do this with a `for` loop, like this:

In [41]:
scanner_rts = np.zeros(n_trials)
for i in range(n_trials):
    trial_onset = scanner_times[i]
    this_rt = rt_arr[i]
    scanner_rts[i] = trial_onset + this_rt
scanner_rts[:15]

array([ 6000.,  7000.,  9500., 11000., 12500., 14500., 17000., 18500.,
       20500., 21500., 22927., 24000., 25500., 27869., 29000.])

Luckily though, Numpy knows what to do when we add two arrays with the same shape.  It takes each element in the first array and adds the corresponding element in the second array - just like the `for` loop above.

This is call *elementwise* addition, because it does the addition (or subtraction or division ...) *element* by *element*.

In [43]:
# Same result from adding the two arrays with the same shape.
scanner_rts = scanner_times + rt_arr
scanner_rts[:15]

array([ 6000.,  7000.,  9500., 11000., 12500., 14500., 17000., 18500.,
       20500., 21500., 22927., 24000., 25500., 27869., 29000.])

## Selecting with Boolean arrays

We will soon cover this in a lot more detail; this is just a taster.

Remember that the trials with no response have a reaction time of zero.

That means that all the trials with a reaction time of zero will not give sensible times for a response onset - because, for those trials, there was no response.

We can select the `scanner_rts` corresponding to non-zero reaction times using Boolean arrays.

## 2D arrays

We can also have arrays with more than one dimension.  For example, we can make our original trial and reaction times into a two-dimensional array, like this:

In [31]:
all_times = np.zeros((n_trials, 2))
all_times.shape

(320, 2)

In [32]:
# Fill all of the rows, first column with the isi_arr values.
all_times[:, 0] = isi_arr
# Fill all of the rows, second column with the rt_arr values.
all_times[:, 1] = rt_arr
# Show the first 5 rows, and all columns.
all_times[:5, :]

array([[2000.,    0.],
       [1000.,    0.],
       [2500.,    0.],
       [1500.,    0.],
       [1500.,    0.]])

## Reshaping

Finally, we often want to change the *shape* of arrays.

One common thing we may want to do is to take a 2D array and flatten it out into a 1D array, or visa versa.  That does not make much sense in this particular case, but bear with us.

Remember, the original 2D shape was:

In [37]:
all_times.shape

(320, 2)

Now we want to *flatten* this 2D thing into a 1D thing.   The new shape we want is therefore:

In [38]:
new_shape = [n_trials * 2]
new_shape

[640]

We pass the new shape to the `np.reshape` function, along with the array:

In [33]:
flattened = np.reshape(all_times, [n_trials * 2])
flattened.shape

(640,)

In [34]:
# The first 10 values.
flattened[:10]

array([2000.,    0., 1000.,    0., 2500.,    0., 1500.,    0., 1500.,
          0.])

Here we take the flattened array, and put it back into its original two dimensions:

In [35]:
unflattened = np.reshape(flattened, [n_trials, 2])
unflattened.shape

(320, 2)

In [36]:
# Show the first five rows.
unflattened[:5, :]

array([[2000.,    0.],
       [1000.,    0.],
       [2500.,    0.],
       [1500.,    0.],
       [1500.,    0.]])